<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LCTApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D32672B21C9D587F00E4AAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D32672C61C9D587F00E4AAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D32672D11C9D587F00E4AAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
